/* Theme colors */
:root {
--dark-blue: #0d1321;
--navy: #1b263b;
--blue: #415a77;
--light-blue: #778da9;
--beige: #f0ebd8;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header Color & Font */
header{
    color: var(--beige);
    text-align: center;
    font-size: 2em;
    padding: 10px;
    background-image:linear-gradient(to left, var(--dark-blue), var(--navy), var(--blue), var(--light-blue));
}

/* Search box and Button */
.row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 10px;
}

.ba-card{
    margin: 10px;
    padding: 10px;
    width: 20em;

}
.ba-search{
    text-align: center;
    color: var(--navy);
    font-size: 1.5em;
    margin: 5px;
}

.ba-input{
    width: 96%;
    text-align: center;
    margin: 5px;
    padding:10px;
}

.ba-search-btn{
    width: 96%;
    text-align: center;
    background-color: var(--light-blue);
    color: var(--beige);
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

.ba-saved-search{
    /* display: none; */
    width: 96%;
    text-align: center;
    background-color: var(--beige);
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

/* Search Results */
.ba-output{
    width: 96%;
    margin: 10px;
    padding: 10px;

}

.ba-search-title{
    font-size: 1.5em;
}

.ba-todays-forecast{
    display: none;
    border-style: solid;
    border-color: var(--dark-blue);
    border-width: 3px;
    padding: 5px;
}

/* 5 day forecast */
.hide{
    display: none;
}

.five-day-title{
    color: var(--dark-blue);
    font-size: 1.5em;
    margin-top: 40px;
}
.five-day-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.five-day-forecast{
    background-color: var(--blue);
    color: var(--beige);
    margin-bottom: 10px;
    padding: 5px;
    width: 18%;
}
.info{
    margin: 10px;
}

/* Changes the search box to take up the full width at small screens */
@media screen and (max-width: 768px){
    .card {
        width: 96%;
    }
}

@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
    }
}

@media screen and (max-width: 960px){
    .five-day-cards{
        flex-direction: column;
    }
    .five-day-forecast{
        width: 96%;
    }
}